{% extends "test_platform/base/base.html" %}

{% block content %}

    <div class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>Subjects</h1>
            <p>List of all available subjects.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if subject_list %}
                    <div class="row">
                    {% for subject in subject_list %}
                        <div class="col-md-6">
                            <div class="panel panel-default" id="subject_block_{{ forloop.counter }}">
                                <div class="panel-heading">
                                    <a href="{% url 'test_platform:subject' subject.id %}"><h3>{{ subject.subject_name }}</h3></a>
                                    <small>
                                        {% if subject.description %}
                                            {{ subject.description }}
                                        {% endif %}
                                    </small>
                                </div>
                                <div class="panel panel-body">
                                    {% if subject.topic_set.all %}
                                        <strong>Available topics</strong>
                                        <ul class="list-group">
                                        {% for topic in subject.topic_set.all|slice:":5" %}
                                            <li class="list-group-item">{{ topic.topic_name }}</li>
                                        {% endfor %}
                                            {% if subject.topic_set.all.count > 5 %}
                                                <li class="list-group-item">...</li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                       </div>
                    {% endfor %}
                     </div>
                {% else %}
                    <p class="well">No subjects are available.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script language="javascript">
        $(document).ready(function(){
            var blocks = $("[id^='subject_block_']");
            var max_height = 0;
            $.each(blocks, function(){
                if ($(this).outerHeight(true) > max_height) {
                    max_height = $(this).outerHeight(true);
                }
            });
            $.each(blocks, function(){
                $(this).css("height", max_height);
            });
        });
    </script>


{% endblock %}